/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

header {
    background-color: rebeccapurple;
    height: 90vh;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

.animate-left {
    animation-name: fadeInLeft;
    animation-fill-mode: both;
    animation-duration: 0.8s;
    opacity: 1;
    animation-timing-function: ease-out;
    text-align: center;
} 

@keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px,0,0);
    transform: translate3d(-2000px,0,0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}}

div:nth-child(even) {background: palegreen}
div:nth-child(odd) {background: paleturquoise}

.mystyle {
    width: 100%;
    padding: 25px;
    background-color: coral;
    color: white;
    font-size: 25px;
  }