$color-primary: #7ed56f;
$color-primary-light: #159957;
$color-primary-dark: #155799;

$color-secondary-light: #f5af19;
$color-secondary-dark: #f12711;

$color-tertiary-light: #ffc0cb;
$color-tertiary-dark: #800080;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;

$color-white: #fff;
$color-black: #000;

// FONT

$default-font-size: 1.6rem;

// BORDER RADIUS

$border-radius-primary: 3px;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;