$color-primary: #7ed56f;
$color-primary-light: #159957;
$color-primary-dark: #155799;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;